<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>
<article class="about">
    <h2>About</h2>
    <p>
        Me llamo Emanuel Gutierrez, estoy graduado como Licenciado en Análisis de Sistemas. Me considero un entusiasta en el Desarrollo de Web, buscando siempre aplicar las mejores prácticas y las mejores soluciones posibles.
    </p>
    <p>
        Tengo conocimiento fuerte en PHP, trabajando con el lenguaje directamente como así también a traves de Framework como Laravel y Symfony
    </p>
    <p>
        Tengo conocimiento en Nodejs y Serverless
    </p>
</article>